.wall {
	background-color: black; 
}
.cell {
	background-color: lightyellow; 
}
.river {
	background-color: lightblue; 
}
table.controls th, td {
	font-size: larger;
	padding: .8%;
}
input[type=submit]{
	font-size: 100%;
}
